body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

/* Estilos para la tabla */
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2; 

}

/* Estilos para los botones */
.button {
    background-color: #4CAF50; /* Verde */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; 

}

/* Estilos para las notificaciones */
.success {
    background-color: lightgreen;
    color: green;
    padding: 10px;
}

.error {
    background-color: lightpink;
    color: red;
    padding: 10px;
}